* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 100px rgb(0 0 0 / 20%);
    letter-spacing: 1px;
    padding: 0 5%;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
}

#logo-name {
    display: flex;
    align-items: center;
    z-index: 1000;
}

#logo-container {
    width: 2rem;
    min-width: 40px;
    min-height: 40px;
    height: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 0.65rem;
}

#logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#name {
    font-size: 1.1rem;
    font-weight: 900;
    margin: 0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #DC3545;
}

.navbar {
    padding: 0;
    background-color: #fff;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* MAIN */

#main-container {
    padding: 0 5%;
}

#greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hello {
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
}

#summary {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

#main-button {
    display: flex;
    justify-content: center;
}

#p-button {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 15px 0.5px rgb(0 0 0 / 20%);
    padding: 15px 50px;
    transition: transform 0.5s;
}

#p-button:hover {
    transform: scale(1.2);
}